.section {
    display: flex;
    flex-direction: column;
    width: 520px;
    min-height: 94px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
}

.label {
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: flex-start;
}

.skills {
    padding-left: 20px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    justify-content: flex-start;
}